<div class="container-fluid">
  <div class="row">
    <div class="col product-header">
      <h2>Lo que puedes hace aquí</h2>
      <h4>Administra tus productos y pedidos</h4>
    </div>
  </div>


    <div class="row">
      
      <div class="col-6 mb-3">
        <div class="card text-center">
          <div class="card-header">
            Tu base de datos
          </div>
          <div class="card-body">
            <h5 class="card-title">Añadir producto</h5>
            <p class="card-text">Ingresa un producto a tu base de datos</p>
            <a href="/newProductForm" class="btn btn-primary">Crear</a>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>
      </div>

      <div class="col-6 mb-3">
        <div class="card text-center">
          <div class="card-header">
            Tu base de datos
          </div>
          <div class="card-body">
            <h5 class="card-title">Añadir pedido</h5>
            <p class="card-text">Ingresa un pedido a tu base de datos</p>
            <a href="/newPedido" class="btn btn-primary">Crear</a>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>
      </div>

      <div class="col-6 mb-3">
        <div class="card text-center">
          <div class="card-header">
            Tus productos
          </div>
          <div class="card-body">
            <h5 class="card-title">Lista de producto</h5>
            <p class="card-text">Tené control de la lista de productos</p>
            <a href="/getListOfProducts" class="btn btn-primary">Ver</a>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>
      </div>

      <div class="col-6 mb-3">
        <div class="card text-center">
          <div class="card-header">
            Tus pedidos
          </div>
          <div class="card-body">
            <h5 class="card-title">Control de pedidos</h5>
            <p class="card-text">Podes visualizar tu lista de pedidos</p>
            <a href="/getListOfProducts" class="btn btn-primary">Enviar</a>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>
      </div>

    </div>
  </div>

</div>