<div class="container-fluid">
  <div class="row">
    <div class="col cotizador-header">
      <h2>Lo que puedes hace aquí</h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <h3>Administra tus productos y pedidos</h3>
    </div>

    <div class="row">
      <div class="col">

        <div class="card text-center">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">Añadir producto</h5>
            <p class="card-text">Ingresa un producto a tu base de datos</p>
            <a href="/newProductForm" class="btn btn-primary">Crear</a>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>

      </div>
      <div class="col">

        <div class="card text-center">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">Lista de producto</h5>
            <p class="card-text">Tené control de la llista de productos</p>
            <a href="/getListOfProducts" class="btn btn-primary">Ver</a>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>

      </div>

      <div class="col">

        <div class="card text-center">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">Envía una cotización</h5>
            <p class="card-text">Envía a tus clientes una cotización de la compra</p>
            <a href="/getListOfProducts" class="btn btn-primary">Enviar</a>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>

      </div>

    </div>
  </div>

</div>