<div class="container-fluid">
  <div class="row">
    <div class="col product-header">
      <h2>Generar nuevo pedido</h2>
    </div>
  </div>

</div>

<div class="container-fluid new-product">
  <div class="row mb-5">
    <h3>Pedido</h3>
    {{!-- INPUT CUSTOMER NAME --}}
    <div class="form-row">
      <div class="col-4 input-product">
        <label for="customerName" class="form-label">Nombre del consumidor</label>
        <div class="input-group">
          <input type="text" class="form-control" name="customerName" id="customerName" aria-describedby="customerName">
        </div>
      </div>
    </div>

    {{!-- DATETIME INPUT --}}
    <div class="form-row mb-4">
      <div class="col-4 input-product">

        <label for="dateTime" class="form-label">Fecha de compra</label>
        <div class="input-group">
          <input type="date" name="dateTime" id="dateTime">
        </div>

      </div>
    </div>

    {{!-- SELECT NEW PRODUCT --}}
    <div class="form-row selected-products ">
      <h4>Lista de productos:</h4>
      <div class="col-auto select-product">
        <label class="mr-sm-2" for="selectType">Seleccionar producto:</label>

        <select class="custom-select mr-sm-2" id="productSelect" name="{{this.name}}">
          <option value="" selected>Producto...</option>
          {{#each product}}
          <option value="{{this.name}}" data-price={{this.price}}>{{this.name}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="col mt-1 submit-btn">
      <button onclick="addProduct()" type="button" class="btn btn-secondary btn-md">Agregar al carrito</button>
    </div>

  </div>

  <div class="row mb-3">
    <ul class="list-group" id="allProducts"></ul>
  </div>

  <div class="row mb-2">
    <h4>Total a pagar:</h4>
    <p id="totalPrice"></p>
  </div>

  <div class="col-auto mt-3 submit-btn">
    <button onclick="finish()" type="button" class="btn btn-primary btn-md">Finalizar</button>
  </div>

</div>


<script>
  const productSelected = document.getElementById("productSelect");
  const productListed = document.getElementById("allProducts");
  const totalPrice = document.getElementById("totalPrice");
  const customerName = document.getElementById("customerName");
  const dateTime = document.getElementById("dateTime");

  let productprice;
  let productname;
  let listProduct = [];

  productSelected.addEventListener("change", (e) => {
    productname = e.target.options[e.target.selectedIndex].innerText
    productprice = e.target.options[e.target.selectedIndex].dataset.price;

  })

  function showList() {
    //Reset list
    productListed.innerHTML = ""
    //Generate de list of products
    for (e in listProduct) {
      let newli = document.createElement("li");
      newli.classList.add("list-group-item", "li-product");
      newli.innerHTML = `<p>${listProduct[e].name} $${listProduct[e].price}</p> <button id="btn-delete" onclick="deleteProduct(${e})" class="btn btn-danger btn-md">Eliminar</button>`;

      productListed.appendChild(newli)
    }
  }

  function checkPrice() {
    let totalToPay = 0;
    for (e in listProduct) {
      totalToPay += parseInt(listProduct[e].price);
    }
    totalPrice.textContent = "$" + totalToPay;
    return totalToPay;

  }

  function deleteProduct(e) {
    console.log(listProduct)
    let productRemoved = listProduct.splice(e, 1)
    console.log(listProduct)

    showList()
    checkPrice()

  }

  function addProduct() {
    if (productname && productprice) {
      let product = {
        name: productname,
        price: productprice,
      }

      listProduct.push(product)

      showList()
      checkPrice()
    }
  }

  //Generate new Id
  const createId = () => Math.random().toString(36).split(".")[1];

  function finish() {
    let newId = createId();
    finalPrice = checkPrice();
    let pedidoListo = JSON.stringify(
      {
        newId,
        listProduct,
        finalPrice,
        customer: customerName.value,
        dateTime: dateTime.value
      });

    const xhr = new XMLHttpRequest();

    xhr.onload = function () {
      if (this.status !== 200) {
        console.log("ERROR");
      } else {
        console.log("200");
      }

      window.location.href = "/pedidos/";

    }

    xhr.open("POST", "/pedidos/");
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.send(pedidoListo);

  }

</script>