.new-product{
  padding: 1.5rem;
  margin: auto;
  width: calc(100vw - 10%);
  background-color: rgb(213, 229, 241);
  justify-content: left;
}

.product-header{
  padding: 1rem 0;
  text-align: center;
}

.product-gallery .card-body {
  min-height: 250px;
}

.product h3{
  text-align: left;
}

.select-product{
  margin: auto;
  padding: 1rem 0;

}

#allProducts{
  padding-left: calc(var(--bs-gutter-x)/ 2);

}

a.state-pendiente{
  background-color: rgb(185, 224, 255);
}

a.state-pagado{
  background-color: rgb(203, 255, 229);
}

a.state-cancelado{
  background-color: rgb(255, 214, 214);
}

span.state-cancelado {
  background-color: #dc3545 !important;
}

span.state-pagado {
  background-color: #198754 !important;
}

.li-product{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.li-product>p{
  margin: 0;
}

.details-header{
  background-color: rgb(212, 212, 212);
}

.details-footer{
  background-color: rgb(212, 212, 212);
}

.pedido-details{
  max-width: 48rem;
}